// Fonts
$default-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;

$halvar-breit-font-family: HalvarBreit, Geneva, Verdana, sans-serif;
$vela-sans-font-family: VelaSans, Arial, Helvetica, sans-serif;
